{% extends 'layout.html' %}

{% block content %}
    <!-- Page: Auth form -->
    <section class="auth-form-wrapper">
        <form method="POST" class="auth-form" action="{{ url_for('login') }}">
            <h2 class="section-header">Login to service</h2>

            <div class="auth-form__item">
                <label for="login-input" class="visually-hidden">Login</label>
                <input id="login-input" name="login" type="text" placeholder="Login" required
                       class="auth-form__input auth-form__input_login">
            </div>

            <div class="auth-form__item">
                <label for="password-input" class="visually-hidden">Password</label>
                <input id="password-input" name="password" type="password" placeholder="Password" required
                       class="auth-form__input auth-form__input_password">
            </div>

            <div class="auth-form__item">
                <button type="submit"
                        class="button auth-form__button auth-form__button_submit">Auth</button>
            </div>

            <input type="hidden" name="return-path" value="{{ return_path }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        </form>
    </section>
{% endblock %}
