{% extends 'layout.html' %}

{% block content %}
    <form method="POST" class="form form_auth" action="{{ url_for('login') }}">
        <input name="login" type="text" placeholder="Login" required
               class="input auth-form__input auth-form__input_login">
        <input name="password" type="password" placeholder="Password" required
               class="input auth-form__input auth-form__input_password">

        <div class="button-wrapper">
            <button type="submit"
                    class="button auth-form__button auth-form__button_submit">Auth</button>
        </div>

        <input type="hidden" name="return-path" value="{{ return_path }}">
        <input type="hidden" name="CSRF_TOKEN" value="{{ csrf_token }}">
    </form>
{% endblock %}
