{% extends 'layout.html' %}

{% block content %}
    <!-- Page: User panel -->
    <section class="user-panel">
        <h2 class="section-header">Auth token</h2>
        <code class="user-panel__auth-token code">{{ auth_token }}</code>

        <h2 class="section-header section-header_indent">Auth info</h2>
        <code class="user-panel__auth-token code">{{ auth_info }}</code>

        <h2 class="section-header section-header_indent">Banned IPs</h2>
        {% if banned_ips %}
            <ul class="plain-list">
                {% for banned_ip in banned_ips %}
                    <li>{{ banned_ip }}</li>
                {% endfor %}
            </ul>
        {% else %}
            No banned IPs
        {% endif %}
    </section>
{% endblock %}
